body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #61D929;
}

header {
    height: 200px;
    width: 100vw;
    background-image: url("../TimelineCovers.pro_rick-and-morty-uhmm-facebook-cover.jpg");
    background-color: #262C3A;
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-size: 75px;
    text-align: center;
    color: #262C3A;
    text-shadow:
        -2px -2px 0 #61D929,
        2px 2px 0 #61D929;
}

.titlePage {
    font-size: 50px;
    text-align: center;
    text-shadow:
        -2px -2px 0 #CAD4C4,
        2px 2px 0 #CAD4C4;
    padding: 10px;
}

#bouton{
    margin: 50px;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
    align-items: last baseline;
}

.navbar a {
    display: flex;
    color: #CAD4C4;
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links ul {
    display: flex;

}

.navbar .nav-links ul li {
    margin: 0 25px;

}

.navbar .nav-links ul li.active a {
    color: #61D929;
    font-weight: 600;
}

.navbar .menu-burger {
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

.personnages {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;

}

.personnages img {
    border: 5px #CAD4C4;
    border-radius: 30px;
    width: 100%;
    height: auto;
    display: block;

}

.personnages .h2 {
    margin-top: 10px;
    font-size: 10px;
    text-decoration: none;
}

h1 {
    font-size: 75px;
    text-align: center;
    color: #262C3A;
    text-shadow:
        -2px -2px 0 #61D929,
        2px 2px 0 #61D929;
}

.titlePage {
    font-size: 50px;
    text-align: center;
    text-shadow:
        -2px -2px 0 #CAD4C4,
        2px 2px 0 #CAD4C4;
    padding: 10px;
}

#bouton{
    margin: 50px;
}


.pistoPortail{
    background-image: url("../681b00d06b2e20e4fe7c5dd5d2fcc63d.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.buttonRick {
    padding: 20px;
    font-size: 18px;
    margin: 0 auto;
    font-weight: bolder;
    padding: 1rem 2rem;
    display: block;
    color: #262C3A;

    border: 2px solid #262C3A;
    border-radius: 30px;
}

#basDePage {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:900px) {

    header {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    h1 {
        font-size: 26px;
        max-width: 50vw;
        text-align: left;
        color: #61D929;
        padding: 2px 4px;
        text-shadow: unset;
        text-shadow:
            -1px -1px 0 #CAD4C4,
            1px 1px 0 #CAD4C4;
    }

    .logo {
        display: none;
    }

    .navbar {
        padding: 0%;
    }

    .navbar a {
        color: #262C3A;
    }

    .navbar .nav-links ul li.active a {
        color: #262C3A;
        font-weight: 600;
        text-shadow:
            -2px -2px 0 #61D929,
            2px 2px 0 #61D929;
    }

    .navbar .menu-burger {
        display: block;
    }

    .navbar .nav-links {
        display: none;
        visibility: none;
    }

    .nav-links {
        top: 0%;
        left: 30px;
        background-color: #6bf81952;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
        transition: all 0.5 ease;

    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links .mobile-menu {
        margin-right: 0%;
    }
}